{% extends 'base.html' %}

{% block title %}Agregar Usuario{% endblock %}

{% block content %}
    {% if nombre %}
        <h2>El usuario-Email añadido:</h2>
        <p>Nombre: <b>{{ nombre }}</b>.</p>
        <p>Email: <b>{{ email }}</b>.</p>
    {% else %}
        <h2>Agregar Usuario</h2>
        <form method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <button type="submit">add</button>
        </form>
    {% endif %}

    <div><a href="{{ url_for('getmail') }}">get mail</a></div>
    <div><a href=