<!-- nuestro formlario html de buscar email de usuario por nombre -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Buscar Email de un Usuario</h2>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>
        <button type="submit">Buscar</button>
    </form>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <p><a href="{{ url_for('addmailform') }}">add mail</a></p>

</body>
</html>