<!-- nuestro resultado html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Ej.css')}}">
</head>
<body>
    <h2>Resultado:</h2>
    <p>Nombre: <b> {{ nombre }} </b> .</p>
    <p>Email: <b> {{ email }} </b> .</p>

    <div><a href="{{ url_for('getmailform') }}">get mail</a></div>
    <div><a href="{{ url_for('addmailform') }}">add mail</a></div>

</body>
</html>